#SENSITIVE
#SENSITIVE-AUTH
NEXTAUTH_URL="https://terminal.regshort.com"
NEXTAUTH_SECRET=e5d03b0e72a0296b8529fdb72af711c09c82681e324ee7945170b98ff7033928

#SENSITIVE-MAILJET
MAILJET_HOST="in-v3.mailjet.com"
MAILJET_PORT=587
MAILJET_USER=7a9bf34a20f375377546965cf63840ed
MAILJET_PASS=07830cf055fb2d805c5d92688b1cd101
MAILJET_FROM_ADDRESS="no-reply@regshort.com"

#SENSITIVE-GIT-auth
GITHUB_ID=c3ffa84de318eb377627
GITHUB_SECRET=85a2cd18dbed327c81355f39b7c3542395b52f25

#SENSITIVE-GOOGLE-auth
GOOGLE_CLIENT_ID=975813263327-nj82u6nvccfa5qm8hap6q7r3t7m59bts.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

#SENSITIVE-Discord-auth
DISCORD_CLIENT_ID=1078432155333562378
DISCORD_CLIENT_SECRET=3cq13-gIepl0_D1haQj7iSiPmCOpnxNU

#SENSITIVE-Reddit-auth
REDDIT_CLIENT_ID=ctdHfDgCqMkLLqxzVAeJTA
REDDIT_CLIENT_SECRET=rbmFCWYj5hUw2r8cenbE6gsQKJdM2g

#SENSITIVE-PRISMA
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/regshortfront"