#SENSITIVE
#SENSITIVE-MAILJET
MAILJET_HOST="in-v3.mailjet.com"
MAILJET_PORT=587
MAILJET_USER=7a9bf34a20f375377546965cf63840ed
MAILJET_PASS=07830cf055fb2d805c5d92688b1cd101
MAILJET_FROM_ADDRESS="no-reply@regshort.com"

#SENSITIVE-AUTH
NEXTAUTH_URL="http://localhost:3001"
NEXTAUTH_SECRET=e5d03b0e72a0296b8529fdb72af711c09c82681e324ee7945170b98ff7033928

#SENSITIVE-GIT-auth
GITHUB_ID=6d2cafb90453d25afd98
GITHUB_SECRET=3208d14afbdbba8c225fa009eab22e3a6c8d7667

#SENSITIVE-GOOGLE-auth
GOOGLE_CLIENT_ID=757225198161-adsedieg6prl3615k8diaabnv8i5or2c.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

#SENSITIVE-Discord-auth
DISCORD_CLIENT_ID=1037799610321743902
DISCORD_CLIENT_SECRET=zwxklCmh9-jQyNaPF8z-nx89CK2e256s

#SENSITIVE-Reddit-auth
REDDIT_CLIENT_ID=bn8Cfa_2XBXzXKNDxIINBw
REDDIT_CLIENT_SECRET=zVsvCEGwLHKrccCeglfcLHidXRAu7w

#SENSITIVE-PRISMA
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/regshortfront"


#SENSITIVE-SPACES digitalocean
NEXT_PUBLIC_CDN="https://regshort.fra1.cdn.digitaloceanspaces.com/"